.container1{

    background: url('../images/login.png'),rgba(0,0,0,0.6);
    height: 120vh;
     background-blend-mode: multiply;
    position: relative;
    
    
}
.container1 .waves{
    position: absolute;
    bottom: 0;
    left: 0;   
}
span{
    color: red;
}
.form-control{
   
    width: 800px;
    margin-bottom: 15px;
}
.login{
 
    padding-left: 40vh;
    padding-top: 25vh;
    height: 80vh;
    background-color: bisque;
}
.login .btn{
    background-color:#553D1D;
    margin-top: 5vh;
    width: 15vh;
    border: none;
}